/*Stats preview card -> style.css*/

/*Variables*/
:root {
  --veryDarkBlue: hsl(233, 47%, 7%);
  --darkBlue: hsl(244, 38%, 16%);
  --white: hsl(0, 0%, 100%);
  --gray: hsla(0, 0%, 100%, 0.6);
  --violet: hsl(277, 64%, 61%);
  --transparentViolet: hsla(277, 42%, 40%, 0.781);
}

/*Getting rid of default parameters*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---App container---*/
section {
  width: 100vw;
  height: 100vh;
  background-color: var(--veryDarkBlue);
  display: flex;
  align-items: center;
  justify-content: center;
}
section * {
  color: var(--gray);
  font: 400 15px Inter, sans-serif;
}
/*---/App container---*/

/*---Card container---*/
.card {
  flex-basis: 85%;
  display: flex;
  flex-direction: column;
  background-color: var(--darkBlue);
  border-radius: 10px;
  overflow: hidden;
}
/*---/Card container---*/

/*---Image header---*/
.image-header {
  min-height: 30vh;
  background-image: url("./images/image-header-mobile.jpg");
  background-size: cover;
}
/*---/Image header---*/

/*---Text part---*/
.text {
  padding: 2rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}
.text h1,
.text h1 *,
.stats h2 i {
  color: var(--white);
  font-weight: 700;
  font-size: 1.6rem;
}
.text h1 i {
  color: var(--violet);
}
.text p {
  line-height: 2.5ch;
}
.stats {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  text-transform: uppercase;
}
.stats h2 {
  font-size: 0.7rem;
  letter-spacing: 0.2ch;
  display: flex;
  flex-direction: column;
  row-gap: 0.5vh;
}
.stats h2 i {
  display: block;
  font-size: 1.3rem;
}
/*---/Text part---*/
