/*Stats preview card -> style.css*/

/*Variables*/
:root {
  --veryDarkBlue: hsl(233, 47%, 7%);
  --darkBlue: hsl(244, 38%, 16%);
  --white: hsl(0, 0%, 100%);
  --gray: hsla(0, 0%, 100%, 0.75);
  --violet: hsl(277, 64%, 61%);
}

/*Getting rid of default parameters*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---App container---*/
section {
  width: 100vw;
  height: 100vh;
  background-color: var(--veryDarkBlue);
}
section * {
  color: var(--gray);
  font: 400 15px Inter, sans-serif;
}
/*---/App container---*/
